<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Metazoa | Home</title>
    <link rel="stylesheet" href="styles/feed.css">
</head>

<body>
    <div id="menu">
        
        <div id="logo">
            <a href="/">
                <img src="../imagens/logo.png">
            </a>
        </div>

        <ul>
            <li>
                <a href="#" selected>
                    <img src="../imagens/pet.png">
                    <span>Feed</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../imagens/mundo.png">
                    <span>Explorar</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../imagens/email.png">
                    <span>Convites</span>
                </a>
            </li>
            <li>
                <a href="perfil-pessoal">
                    <img src="../imagens/face.png">
                    <span>Perfil</span>
                </a>
            </li>
            <li>
                    <a href="/">
                        <img src="../imagens/exit.png">
                        <span>Sair</span>
                    </a>
                </li>
        </ul>
        <div id="footer">
            <p>Todos os direitos reservados ® 2019.</p>
        </div>
    </div>
    <div id="corpo">

    </div>

</body>

</html>